/**Custom css style**/

/*Fuente de letra*/

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("../fonts/RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("../fonts/RobotoCondensed-LightItalic.ttf") format('truetype');
}
/* Normal */

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("../fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("../fonts/RobotoCondensed-Italic.ttf") format('truetype');
}
/* Bold */

@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("../fonts/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("../fonts/RobotoCondensed-BoldItalic.ttf") format('truetype');
}
body {
    font-family: 'Roboto Condensed', serif;
    font-size: 14px;
    background-color: gray;
}
/*Colores*/

.gris-claro {
    color: #878787;
}
.gris-oscuro {
    color: #4d4d4d;
}
.amarillo {
    color: #d7d900;
}
.blanco {
    color: white;
}
.azul-claro {
    color: #00b5ec;
}
.negro {
    color: #000000;
}
.rosa {
    color: #ec78ac;
}
.naranja {
    color: #ffa100;
}
.azul-oscuro {
    color: #0062ae;
}
.fondo-gris-claro {
    background-color: #878787;
}
.fondo-gris-oscuro {
    background-color: #4d4d4d;
}
.fondo-amarillo {
    background-color: #d7d900;
}
.fondo-blanco {
    background-color: white;
}
.fondo-azul-claro {
    background-color: #00b5ec;
}
.fondo-negro {
    background-color: #000000;
}
.fondo-rosa {
    background-color: #ec78ac;
}
.fondo-naranja {
    background-color: #ffa100;
}
.fondo-azul-oscuro {
    background-color: #0062ae;
}
.menu-mobil img {
    background-color: rgb(111, 111, 111);
}
.logo-clinica {
    width: 57%;
}



/*Reglas que se aplicar a dispositivos a partir de Tamaño ≥ 568px*/

@media screen and (min-width: 35.5em) {}
/*Reglas que se aplicar a dispositivos con un maximo de Tamaño ≥ 568px*/
@media screen and (max-width: 35.5em) {}
/*Reglas que se aplican a dispositivos con un tamaño entre ≥ 568px y < 768px*/
@media screen and (min-width: 35.5em) and (max-width: 48em) {}
/*Tamaño ≥ 768px*/

@media screen and (max-width: 48em) {
    .menu-iqz {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .menu-dech {
        margin-top: 0px;
    }
    #menu-principal ul {
        padding: 0px;
    }
    #menu-principal {
        width: 70%;
        position: absolute;
        left: -70%;
        top: 0;
        height: 100%;
        background: #777;
    }
    #menu-principal ul li a {
        display: block;
        padding: 1em 1em 1em 1.2em;
        outline: none;
        box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
        color: black;
        text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
        letter-spacing: 1px;
        font-weight: 400;
        -webkit-transition: background 0.3s, box-shadow 0.3s;
        transition: background 0.3s, box-shadow 0.3s;
        text-decoration: none;
    }
    #menu-principal ul li a:hover {
        background-color: white;
    }
    .menu-mobil img {
        width: 48px;
        position: fixed;
    }
}
/*Tamaño ≥ 768px*/

@media screen and (min-width: 48em) {
    .menu-mobil {
        display: none;
    }
    .menu-wrapper-izq {
        width: 50%;
        float: left;
    }
    .menu-iqz {
        float: right;
    }
    .menu-wrapper-dech {
        width: 50%;
        float: right;
    }
    #menu-principal {
        clear: both;
        overflow: hidden;
    }
    #menu-principal ul li a {
        color: black;
        text-decoration: none;
        font-size: 24px;
    }
    #menu-principal ul li a:hover {
        color: gray;
        background-color: white;
    }
    .sub-menu{
    	position: relative;;
    }
    .breadcums{
       	-moz-transform: rotate(-90deg);
       	-webkit-transform: rotate(-90deg);
       	-o-transform: rotate(-90deg);
       	-ms-transform: rotate(-90deg);
       	transform: rotate(-90deg);
       	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
       	position: absolute;
       	top: 31px;
       	left: -64px;
       	font-size: 19pt;
    }
    .breadcums-especialidades{
    	-moz-transform: rotate(-90deg);
       	-webkit-transform: rotate(-90deg);
       	-o-transform: rotate(-90deg);
       	-ms-transform: rotate(-90deg);
       	transform: rotate(-90deg);
       	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
       	position: absolute;
       	top: 93px;
		left: -120px;
       	font-size: 19pt;

    }
    .espacio-sup{
    	margin-top: 100px;
    }
    .contenido{
    	margin-top: 30px;
    }
    .idioma{
    	width: 43%;
    	float: left;
    }

    .idioma img{
    	float: right;
    }
	.textopres{
		width: 57%;
		float:right;
	}
	.textopres span{
		background-color: #4d4d4d;
	}
	.cont-img-ambos img{
		height: 600px;
		margin-left: 270px;
	}
	.cont-img-recepcion{
		margin-top: 50px;

	}
	.recepcion{
		width: 706px;
		float: right;
	}
	.recepcion2{
		width: 380px;
		margin-left: 10px;
	}
	.texto-leopoldo{
		margin-top: 20px;
		width: 30%;
		height: 400px;
	}
	.leopoldo{
		width: 600px;
	}
	.cont-img-cachitosbn{
		margin-top: 50px;
	}
}
/*Tamaño ≥ 1024px*/

@media screen and (max-width: 64em) {
    #menu-principal ul li a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
}
@media screen and (min-width: 64em) {
    .pure-g {
        width: 940px;
        margin: 0 auto;
    }

}
/*Tamaño ≥ 1280px*/

@media screen and (min-width: 80em) {
    .pure-g {
        width: 1140px;
        margin: 0 auto;
    }
}
