/**Custom css style**/

/*Fuente de letra*/

@font-face {
    font-family: "Optima LT";
    src: url('../fonts/OptimaLT.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OptimaLT.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/OptimaLT.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/OptimaLT.svg#Optima_LT') format('svg'),
    /* Legacy iOS */
    url("../fonts/OptimaLT.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Optima LT";
    src: url('../fonts/OptimaBoldLt.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OptimaBoldLt.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/OptimaBoldLt.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/OptimaBoldLt.svg#Optima_LT') format('svg'),
    /* Legacy iOS */
    url("../fonts/OptimaBoldLt.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Optima LT";
    src: url('../fonts/OptimaItalicLt.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OptimaItalicLt.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/OptimaItalicLt.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/OptimaItalicLt.svg#Optima_LT') format('svg'),
    /* Legacy iOS */
    url("../fonts/OptimaItalicLt.ttf") format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Optima LT";
    src: url('../fonts/OptimaBoldItalicLt.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OptimaBoldItalicLt.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/OptimaBoldItalicLt.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/OptimaBoldItalicLt.svg#Optima_LT') format('svg'),
    /* Legacy iOS */
    url("../fonts/OptimaBoldItalicLt.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
body {
    font-family: 'Optima LT', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    margin: 0px 10px;
}
/*Colores*/

.gris-claro {
    color: #c3c3c3;
}
.gris-oscuro {
    color: #4d4d4d;
}
.amarillo {
    color: #d7d900;
}
.blanco {
    color: white;
}
.azul-claro {
    color: #00b5ec;
}
.negro {
    color: #000000;
}
.rosa {
    color: #ec78ac;
}
.naranja {
    color: #ffa100;
}
.azul-oscuro {
    color: #0062ae;
}
.fondo-gris-claro {
    background-color: #c3c3c3;
}
.fondo-gris-oscuro {
    background-color: #4d4d4d;
    color: white;
}
.fondo-amarillo {
    background-color: #d7d900;
}
.fondo-blanco {
    background-color: white;
}
.fondo-azul-claro {
    background-color: #00b5ec;
    color: white;
}
.fondo-negro {
    background-color: #000000;
    color: white;
}
.fondo-rosa {
    background-color: #ec78ac;
    color: white;
}
.fondo-naranja {
    background-color: #ffa100;
}
.fondo-azul-oscuro {
    background-color: #0062ae;
    color: white;
}
.menu-mobil img {
    background-color: rgb(111, 111, 111);
}
.logo-clinica {
    width: 57%;
}
.breadcums-movil {
    display: none;
}
a {
    text-decoration: none;
}
.tag a {
    color: white;
    border-right: solid 1px;
    padding: 0px 5px 0px 5px;
}
.tag a:last-child {
    border-right: 0px;
}
.tag a:active {
    background-color: #00b5ec;
}
.tag a:hover {
    background-color: #00b5ec;
}
.pdf {
    float: right;
}
.separacion-pdf {
    padding: 10px 0px 0px 10px;
    overflow: hidden;
}
.separacion-pdf:last-child {
    padding: 10px 0px 10px 10px;
}
.separacion-pdf a {
    color: white;
}
.separacion-pdf a:hover {
    color: black;
}
.titulo-especialidad {
    text-align: right;
    float: right;
}
.justificado {
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}
.texto-presentacion a {
    color: black;
}
.portada-arriba {
    margin-top: 50px;
}
.marg-contacto {
    margin-right: 10px;
}
.cont-img-recepcion {
    margin-top: 50px !important;
}
/*separacion entre columnas*/

.l-box {
    padding: 0px 1em 0em 0em;
}
#map {
    width: 100%;
    height: 300px;
}
.cont-img-ambos img {
    margin: 0px auto;
}
.contenido {
    overflow: hidden;
}
/*Reglas que se aplicar a dispositivos a partir de Tamaño ≥ 568px*/

.grupo-undidades{
    margin-top: 10px;
}
 

@media screen and (max-width: 20em) {
    .textopres {
        margin-left: 54px;
    }
}
@media screen and (min-width: 35.5em) {}
/*Reglas que se aplicar a dispositivos con un maximo de Tamaño ≥ 568px*/

@media screen and (max-width: 35.5em) {
    .hide-sm {
        display: none;
    }
}
/*Reglas que se aplican a dispositivos con un tamaño entre ≥ 568px y < 768px*/

/*Tamaño ≥ 768px*/

@media screen and (max-width: 47.9357em) {
    .logo-docencia {
        width: 100%;
        margin-top: 10px;
    }
    .titulo-especialidad {
        text-align: left;
        float: none;
        margin-bottom: 10px;
    }
    .titulo-tratamientos {
        margin-top: 10px;
    }
    .cont-img-cachitosbn {
        margin-top: 20px;
    }
    body {
        margin: 10px 10px;
    }
    .submenu {
        margin-bottom: 10px;
    }
    .breadcums {
        display: none;
    }
    .breadcums-movil {
        display: block;
        font-size: 3em;
        padding: 5px 0px;
        margin: 5px 0px;
    }
    .logo-clinica {
        width: 29%;
        float: right;
        margin-top: 6px;
    }
    .tag {
        margin-right: 0px;
    }
    .logo-plastic {
        width: 93%;
    }
    .menu-dech li:first-child {
        display: none;
    }
    .contenido {
        overflow: hidden;
        margin-top: 10px;
    }
    .idioma {
        float: left;
    }
    .idioma img {
        float: right;
    }
    .cont-img-recepcion {
        margin-top: 25px !important;
    }
}
/*Tamaño ≥ 768px*/

@media screen and (min-width: 47.9357em) {
    .submenu {
        text-align: right;
    }
    .texto-presentacion {
        margin-top: 10px;
    }
    .logo-plastic {
        width: 93%;
        margin-left: 4%;
    }
    .menu-mobil {
        display: none;
    }
    .menu-wrapper-izq {
        width: 50%;
        float: left;
    }
    .menu-iqz {
        float: right;
    }
    .menu-wrapper-dech {
        width: 50%;
        float: right;
    }
    .sub-menu {
        position: relative;
        width: 80%;
    }
    .breadcums {
        position: absolute;
        margin: 0px auto;
        width: 100%
    }
    .breadcums-especialidades {
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
        position: absolute;
        top: 93px;
        left: -120px;
        font-size: 19pt;
    }
    .espacio-sup {
        margin-top: 100px;
    }
    .contenido {
        margin-top: 30px;
    }
    .idioma {
        width: 42%;
        float: left;
    }
    .idioma img {
        float: right;
    }
    .textopres {
        width: 57%;
        float: right;
    }
    .textopres span {
        background-color: #4d4d4d;
    }
    .texto-leopoldo {
        margin-top: 20px;
        width: 31%;
        height: 100%;
    }
    .leopoldo {
        width: 600px;
        padding-left: 50px;
    }
    .cont-img-cachitosbn {
        margin-top: 50px;
    }
    .titulo-especialidad {
        text-align: right;
        float: right;
    }
    .titulo-tratamientos {
        float: left;
    }
    .espacio-trata {
        margin-top: 16px;
    }
     
    .tag {
        margin-right: 298px;
    }
}
/*Tamaño ≥ 1024px*/

@media screen and (max-width: 64em) {
    .resp-accordion{
        font-size: 12px !important;
    }
    .situacion-botox{
        display: none;
    }
    body {
        font-size: 10px !important;
    }
    .contenido .idioma img {
        height: 36px;
    }
    #menu-principal ul li a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    .cont-img-ambos img {
        width: 80%;
        margin: 0px auto;
    }
}
@media screen and (min-width: 64em) {
    .pure-g {
        width: 940px;
        margin: 0 auto;
    }
}
/*Tamaño ≥ 1280px*/

@media screen and (min-width: 80em) {
    .pure-g {
        width: 1140px;
        margin: 0 auto;
    }
}
